---
import { getCollection } from "astro:content";
import Post from "./Post.astro";
import config from "../../config.mjs";
import { descDateSort } from "../../utils/posts.mjs";

const { postLimit = config.latestPosts, skipPost = "" } = Astro.props;

const posts = (
  await getCollection("posts", ({ data }) => {
    return !(data.title === skipPost);
  })
)
  .sort(descDateSort)
  .slice(0, postLimit);
---

<section class="container mx-auto max-w-screen-lg px-7 py-10 mb-10">
  {posts.map((post, index) => <Post postData={post} num={index} />)}
</section>
